[user]
	name = Tim McDuffie
	email = timothy.mcduffie@gmail.com

[alias]
  br = branch
  co = checkout
  ci = commit
  di = diff
  st = status
  sl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --since='90 days ago'
  summary = show

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red blink

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
